export(mlsas)
export(mlsas_weights)
export(mlsas_similarity)
export(mlsas_stat)
export(mlsas_global_test)
export(mlsas_local_test)
export(mlsas_example)
S3method(print,mlsas_stat)
S3method(print,mlsas_test)
S3method(print,mlsas_fit)
S3method(summary,mlsas_fit)
S3method(summary,mlsas_test)
S3method(as.data.frame,mlsas_test)
S3method(plot,mlsas_fit)
S3method(plot,mlsas_test)
